body{
    background-color: white;

}
.card{
    width: 90vw;
    height: max-content;
    padding: 20px;
    text-wrap: wrap;
    color:white;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(24, 26, 27);
    text-align: center;
}
div>h1{
    font-family: Arial, Helvetica, sans-serif;
}
div>h3{
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}
.input-string{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border-bottom: 4px solid red ;
}
.input{
    /* border:2px solid; */
    background-color: aliceblue;
    padding:20px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
}